{{#section 'head'}}
    <title>富文本</title>
{{/section}}
<div class="main">
	<div class="form-group">
		<label>上传图片</label>
		<input type="file" name="file" id="file" multiple="multiple">
		<p id="result"></p>
		<button id="upload">上传</button>
		<div class="img"></div>
	</div>
	<div class="files">
		<ul></ul>
	</div>
</div>
{{#section 'jquery'}}
	<script src="/js/home.js" type="text/javascript"></script>
{{/section}}